<a href="https://colab.research.google.com/github/pedroyepiz/PYTHON-2023-1/blob/main/11_octubre_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import random

In [1]:
nomh=["GOKU","KRILIN","VEGUETA","PICOLO","GOHAN","MAYINBU"]
nomm=["MILK","BULMA","KARELY","MIA","ALANA","LANA"]
apell=["COCCO","ALVAREZ","VILLELAS","ARAUJO","CEJA","CARRILLO","RODRIGUEZ"]

In [12]:
def gendatos ():
    lista=[]
    lista.append(random.choice(apell))
    lista.append(random.choice(apell))
    sex=random.randint(1,2)
    if (sex == 1):
        lista.append(random.choice(nomh))
    else:
        lista.append(random.choice(nomm))
    lista.append(random.randint(10,90))
    if (sex == 1):
        lista.append("HOMBRE")
    else:
        lista.append("MUJER")

    return lista

In [25]:
def creadicc():
    claves=["APPAT","APMAT","NOMBRE","EDAD","SEXO"]
    valores=gendatos()
    dicc=dict(zip(claves,valores))
    return dicc

In [30]:
creadicc()

{'APPAT': 'ARAUJO',
 'APMAT': 'RODRIGUEZ',
 'NOMBRE': 'PICOLO',
 'EDAD': 21,
 'SEXO': 'HOMBRE'}

In [44]:
listdicc=[]

In [46]:
for i in range(10):
    dicc=creadicc()
    listdicc.append(dicc)
    print (dicc)

{'APPAT': 'CEJA', 'APMAT': 'ARAUJO', 'NOMBRE': 'VEGUETA', 'EDAD': 59, 'SEXO': 'HOMBRE'}
{'APPAT': 'VILLELAS', 'APMAT': 'ALVAREZ', 'NOMBRE': 'BULMA', 'EDAD': 54, 'SEXO': 'MUJER'}
{'APPAT': 'RODRIGUEZ', 'APMAT': 'RODRIGUEZ', 'NOMBRE': 'VEGUETA', 'EDAD': 22, 'SEXO': 'HOMBRE'}
{'APPAT': 'RODRIGUEZ', 'APMAT': 'ARAUJO', 'NOMBRE': 'VEGUETA', 'EDAD': 58, 'SEXO': 'HOMBRE'}
{'APPAT': 'CEJA', 'APMAT': 'COCCO', 'NOMBRE': 'PICOLO', 'EDAD': 19, 'SEXO': 'HOMBRE'}
{'APPAT': 'ARAUJO', 'APMAT': 'CEJA', 'NOMBRE': 'LANA', 'EDAD': 72, 'SEXO': 'MUJER'}
{'APPAT': 'CEJA', 'APMAT': 'CEJA', 'NOMBRE': 'GOHAN', 'EDAD': 22, 'SEXO': 'HOMBRE'}
{'APPAT': 'ALVAREZ', 'APMAT': 'CEJA', 'NOMBRE': 'KRILIN', 'EDAD': 76, 'SEXO': 'HOMBRE'}
{'APPAT': 'CEJA', 'APMAT': 'ALVAREZ', 'NOMBRE': 'PICOLO', 'EDAD': 80, 'SEXO': 'HOMBRE'}
{'APPAT': 'ARAUJO', 'APMAT': 'ARAUJO', 'NOMBRE': 'GOKU', 'EDAD': 58, 'SEXO': 'HOMBRE'}

In [48]:
print (listdicc)

[{'APPAT': 'CEJA', 'APMAT': 'ARAUJO', 'NOMBRE': 'VEGUETA', 'EDAD': 59, 'SEXO': 'HOMBRE'}, {'APPAT': 'VILLELAS', 'APMAT': 'ALVAREZ', 'NOMBRE': 'BULMA', 'EDAD': 54, 'SEXO': 'MUJER'}, {'APPAT': 'RODRIGUEZ', 'APMAT': 'RODRIGUEZ', 'NOMBRE': 'VEGUETA', 'EDAD': 22, 'SEXO': 'HOMBRE'}, {'APPAT': 'RODRIGUEZ', 'APMAT': 'ARAUJO', 'NOMBRE': 'VEGUETA', 'EDAD': 58, 'SEXO': 'HOMBRE'}, {'APPAT': 'CEJA', 'APMAT': 'COCCO', 'NOMBRE': 'PICOLO', 'EDAD': 19, 'SEXO': 'HOMBRE'}, {'APPAT': 'ARAUJO', 'APMAT': 'CEJA', 'NOMBRE': 'LANA', 'EDAD': 72, 'SEXO': 'MUJER'}, {'APPAT': 'CEJA', 'APMAT': 'CEJA', 'NOMBRE': 'GOHAN', 'EDAD': 22, 'SEXO': 'HOMBRE'}, {'APPAT': 'ALVAREZ', 'APMAT': 'CEJA', 'NOMBRE': 'KRILIN', 'EDAD': 76, 'SEXO': 'HOMBRE'}, {'APPAT': 'CEJA', 'APMAT': 'ALVAREZ', 'NOMBRE': 'PICOLO', 'EDAD': 80, 'SEXO': 'HOMBRE'}, {'APPAT': 'ARAUJO', 'APMAT': 'ARAUJO', 'NOMBRE': 'GOKU', 'EDAD': 58, 'SEXO': 'HOMBRE'}]

In [24]:
dicc

{'APPAT': 'CEJA',
 'APMAT': 'COCCO',
 'NOMBRE': 'MIA',
 'EDAD': 26,
 'SEXO': 'MUJER'}

In [42]:
import pandas as pd

In [57]:

salida=pd.DataFrame(listdicc)

salida = salida.sort_values(by='APPAT', ascending=True)
print (salida)

       APPAT      APMAT   NOMBRE  EDAD    SEXO
7    ALVAREZ       CEJA   KRILIN    76  HOMBRE
5     ARAUJO       CEJA     LANA    72   MUJER
9     ARAUJO     ARAUJO     GOKU    58  HOMBRE
0       CEJA     ARAUJO  VEGUETA    59  HOMBRE
4       CEJA      COCCO   PICOLO    19  HOMBRE
6       CEJA       CEJA    GOHAN    22  HOMBRE
8       CEJA    ALVAREZ   PICOLO    80  HOMBRE
2  RODRIGUEZ  RODRIGUEZ  VEGUETA    22  HOMBRE
3  RODRIGUEZ     ARAUJO  VEGUETA    58  HOMBRE
1   VILLELAS    ALVAREZ    BULMA    54   MUJER