<a href="https://colab.research.google.com/github/pedroyepiz/PYTHON-2023-1/blob/main/clase_1_abril_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
lista = []
lista2 =[12,25.23,True,"KARELY"]

In [5]:
print (lista2)

[12, 25.23, True, 'KARELY']

In [12]:
for i in lista2:
    print (i)

12
25.23
True
KARELY

In [23]:
i=-1
while i >= -4:
    print (lista2[i])
    i-=1

KARELY
True
25.23
12

In [17]:
# CREAR LISTA VACIA Y AGRAGAR ELEMENTOS CON append
lista = []
lista.append("MANZANA")
lista.append(36)
lista.append(13.45)
lista.append(False)

#USAMOS print PARA IMPRIMIR TODA LA LISTA
print (lista)

['MANZANA', 36, 13.45, False]

In [39]:
elemento = input("ESCRIBE UN VALOR")
lista.append(elemento)

ESCRIBE UN VALOR85

In [42]:

print (lista)
x = lista.pop()

print (lista)
print (x)

[]

IndexError: pop from empty list

In [51]:
lista = [10,20,30]
lista2 =[1,2,3]
lista.extend(lista2)

In [52]:
print (lista)

[10, 20, 30, 1, 2, 3]

In [55]:
lista3=sorted(lista)
print(lista3)
print (lista)

[1, 2, 3, 10, 20, 30]
[10, 20, 30, 1, 2, 3]

In [60]:
lista = ["KEVIN","FUGEISHON","COCO","PATO","ALEX","RICH"]
i = 0
for cadena in lista:
    print (f" {i} ----> {cadena}   {len(cadena)} caracteres ")
    i += 1

 0 ----> KEVIN   5 caracteres
 1 ----> FUGEISHON   9 caracteres
 2 ----> COCO   4 caracteres
 3 ----> PATO   4 caracteres
 4 ----> ALEX   4 caracteres
 5 ----> RICH   4 caracteres

In [61]:
for i,cadena in enumerate(lista):
    print (f" {i} ----> {cadena}   {len(cadena)} caracteres ")

 0 ----> KEVIN   5 caracteres
 1 ----> FUGEISHON   9 caracteres
 2 ----> COCO   4 caracteres
 3 ----> PATO   4 caracteres
 4 ----> ALEX   4 caracteres
 5 ----> RICH   4 caracteres