<a href="https://colab.research.google.com/github/pedroyepiz/PYTHON-2023-1/blob/main/clase_del_9_sept_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
maximo = max([3, 1, 2,34,5,6,78,12,31])
minimo = min([3, 1, 2,34,5,6,78,12,31])
suma = sum([3, 1, 2,34,5,6,78,12,31])

In [6]:
print (maximo)
print (minimo)
print (suma)

78
1
172

In [2]:
def nombre():
  print("HOLA MUNDO")
  funcion2()

In [4]:

def funcion2():
  print ("MUNDO CRUEL Y DESPIADADO")

In [5]:

  funcion2()

MUNDO CRUEL Y DESPIADADO

In [6]:
  nombre()

HOLA MUNDO
MUNDO CRUEL Y DESPIADADO

In [10]:
num1 = int(input("DAME UN NUMERO"))
num2 = int(input("DAME UN NUMERO"))

DAME UN NUMERO5
DAME UN NUMERO8

In [11]:
def suma_dos_numeros():

    print (f"LA SUMA DE LOS DOS NUMEROS = {num1 + num2}")

In [12]:
suma_dos_numeros()

LA SUMA DE LOS DOS NUMEROS = 13

In [13]:
print (num1)

5

In [25]:
def multiplicacion(n1=0,n2=0):
    print (f"LA MULTI DE LOS DOS NUMEROS = {n1 * n2}")
    print ("n1 ",n1)
    print ("n2 ",n2)

In [27]:
multiplicacion(n2=7)

LA MULTI DE LOS DOS NUMEROS = 0
n1  0
n2  7

In [31]:
for i in range(2,10,2):
    print (i)

2
4
6
8

In [1]:
def numeros(rsup):
    while True:
        try:
            num1 = int(input(f"DAME UN NUMERO mayor de {rsup}: "))
            if (num1 > rsup):
                return num1
            else:
                print ("COMPRENSION LECTORA MUY BAJA... ")
        except:
            print ("NUMERO.. NUMERO... NO SABES LEER...")

In [ ]:
x=numeros(5)

DAME UN NUMERO mayor de 5: 2
COMPRENSION LECTORA MUY BAJA...
NUMERO.. NUMERO... NO SABES LEER...
NUMERO.. NUMERO... NO SABES LEER...
NUMERO.. NUMERO... NO SABES LEER...

In [13]:
print (x)

12

In [7]:
print (numeros())

DAME UN NUMEROg

ValueError: invalid literal for int() with base 10: 'g'

In [5]:
def varios():
    x1=numeros(15)
    x2=numeros(2)
    x3=numeros(50)
    return x1,x2,x3

In [8]:
y=varios()

DAME UN NUMERO mayor de 15: 45
DAME UN NUMERO mayor de 2: 45
DAME UN NUMERO mayor de 50: 85

In [9]:
sumar = sum(y)
sumar

175